.navbar
{
    height: 50px;
    background-color: rgb(226, 167, 167);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar div{
    font-size: 24px;
    font-weight: 600;
}
.nav-comp
{
    text-decoration: none;
    color: black;
}
.link
{
    text-decoration: none;
}
.components-nav
{
    display: flex;
    justify-content: space-between;
    width: 26%;
    text-align: center;
}